<form [style.fontSize.px]="16" [formGroup]="secondFormGroup">
  <div class="form-row">
    <div class="col-form-label">
      Contact
    </div>
    <div class="col-form-input">
      <input type="number"
             maxlength="10"
             nbInput fullWidth
             placeholder="Contact"
             formControlName="mobileNumber"
             required>
      <div
        *ngIf="secondFormGroup.get('mobileNumber').invalid && (secondFormGroup.get('mobileNumber').dirty || secondFormGroup.get('mobileNumber').touched)"
        class="validation-msg">
        <div *ngIf="secondFormGroup.get('mobileNumber').hasError('required')">
          Please enter your mobile number
        </div>
        <div *ngIf="secondFormGroup.get('mobileNumber').hasError('pattern')">
          Invalid Number
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-form-label">
      Whatsapp
    </div>
    <div class="col-form-input">
      <input type="number"
             maxlength="10"
             nbInput fullWidth
             placeholder="Whatsapp"
             formControlName="whatsappNumber"
      >
      <div
        *ngIf="secondFormGroup.get('whatsappNumber').invalid && (secondFormGroup.get('whatsappNumber').dirty || secondFormGroup.get('whatsappNumber').touched)"
        class="validation-msg">
        <div *ngIf="secondFormGroup.get('whatsappNumber').hasError('pattern')">
          Invalid Number
        </div>
      </div>
    </div>
  </div>

  <div formGroupName="presentAddress">
    <h5>Present Address</h5>
    <div class="form-row">
      <div class="col-form-label">
        House No.
      </div>
      <div class="col-form-input">
        <input
          nbInput fullWidth
          placeholder="Address"
          formControlName="address"
          required>
        <div
          *ngIf="secondFormGroup.get('presentAddress').get('address').invalid && (secondFormGroup.get('presentAddress').get('address').dirty || secondFormGroup.get('presentAddress').get('address').touched)"
          class="validation-msg">
          <div *ngIf="secondFormGroup.get('presentAddress').get('address').hasError('required')">
            Please enter your House No.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-form-label">
        State
      </div>
      <div class="col-form-select">
        <ng-select
          [items]="presentStateList"
          formControlName="state"
          [selectOnTab]="true"
          bindLabel="name"
          bindValue="id"
          appendTo="body"
          (change)="onPresentStateChange($event)"
          placeholder="State"
        >
        </ng-select>
        <div
          *ngIf="secondFormGroup.get('presentAddress').get('state').invalid && (secondFormGroup.get('presentAddress').get('state').dirty || secondFormGroup.get('presentAddress').get('state').touched)"
          class="validation-msg">
          <div *ngIf="secondFormGroup.get('presentAddress').get('state').hasError('required')">
            State is required
          </div>
        </div>
      </div>
      <div class="col-form-label text-right">
        City
      </div>
      <div class="col-form-select">
        <ng-select
          [items]="presentCityList"
          formControlName="city"
          [selectOnTab]="true"
          appendTo="body"
          bindLabel="name"
          bindValue="name"
          placeholder="City"
        >
        </ng-select>
        <div
          *ngIf="secondFormGroup.get('presentAddress').get('city').invalid && (secondFormGroup.get('presentAddress').get('city').dirty || secondFormGroup.get('presentAddress').get('city').touched)"
          class="validation-msg">
          <div *ngIf="secondFormGroup.get('presentAddress').get('city').hasError('required')">
            City is required
          </div>
        </div>
      </div>
    </div>
  </div>
  <nb-toggle [(ngModel)]="sameAddress" [ngModelOptions]="{standalone: true}" (checkedChange)="toggleSameAddress()">
    My Present Address and Permanent Address are Same
  </nb-toggle>
  <div formGroupName="permanentAddress">
    <h5>Permanent Address</h5>
    <div class="form-row">
      <div class="col-form-label">
        House No.
      </div>
      <div class="col-form-input">
        <input
          nbInput fullWidth
          placeholder="Address"
          formControlName="address"
          required>
        <div
          *ngIf="secondFormGroup.get('permanentAddress').get('address').invalid && (secondFormGroup.get('permanentAddress').get('address').dirty || secondFormGroup.get('permanentAddress').get('address').touched)"
          class="validation-msg">
          <div *ngIf="secondFormGroup.get('permanentAddress').get('address').hasError('required')">
            Please enter your permanent House no.
          </div>
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="col-form-label">
        State
      </div>
      <div class="col-form-select">
        <ng-select
          [items]="permanentStateList"
          formControlName="state"
          [selectOnTab]="true"
          bindLabel="name"
          bindValue="id"
          appendTo="body"
          (change)="onPermanentStateChange($event)"
          placeholder="State"
        >
        </ng-select>
        <div
          *ngIf="secondFormGroup.get('permanentAddress').get('state').invalid && (secondFormGroup.get('permanentAddress').get('state').dirty || secondFormGroup.get('permanentAddress').get('state').touched)"
          class="validation-msg">
          <div *ngIf="secondFormGroup.get('permanentAddress').get('state').hasError('required')">
            State is required
          </div>
        </div>
      </div>
      <div class="col-form-label text-right">
        City
      </div>
      <div class="col-form-select">
        <ng-select
          [items]="permanentCityList"
          formControlName="city"
          [selectOnTab]="true"
          appendTo="body"
          bindLabel="name"
          bindValue="name"
          placeholder="City"
        >
        </ng-select>
        <div
          *ngIf="secondFormGroup.get('permanentAddress').get('city').invalid && (secondFormGroup.get('permanentAddress').get('city').dirty || secondFormGroup.get('permanentAddress').get('city').touched)"
          class="validation-msg">
          <div *ngIf="secondFormGroup.get('permanentAddress').get('city').hasError('required')">
            City is required
          </div>
        </div>
      </div>
    </div>


  </div>
  <button nbButton nbStepperPrevious>prev</button>
  <button (click)="validateForm()" nbButton nbStepperNext>next</button>
</form>
