<form [style.fontSize.px]="16" [formGroup]="fourthFormGroup">

  <div class="form-row">
    <div class="col-form-label">
      Achievements
    </div>
    <div class="col-form-input">
      <input
        nbInput fullWidth
        placeholder="Achievements"
        formControlName="achievements"
      >
    </div>
  </div>
  <div class="form-row">
    <div class="col-form-label">
      Hobbies
    </div>
    <div class="col-form-input">
      <input
        nbInput fullWidth
        placeholder="Hobbies"
        formControlName="hobbies"
      >
    </div>
  </div>
  <div class="form-row">
    <div class="col-form-label">
      Skills
    </div>
    <div class="col-form-input">
      <input
        nbInput fullWidth
        placeholder="Skills"
        formControlName="skills"
      >
    </div>
  </div>
  <div class="form-row">
    <div class="col-form-label">
      Inspiration Source
    </div>
    <div class="col-form-input">
      <input
        nbInput fullWidth
        placeholder="Inspiration Source"
        formControlName="inspirationSource"
      >
    </div>
  </div>

</form>
