<form [style.fontSize.px]="16" [formGroup]="fourthFormGroup">
  <ng-template matStepLabel>Done</ng-template>

    <input
      nbInput
      placeholder="achievements"
      formControlName="achievements"
    >


    <input
      nbInput
      placeholder="hobbies"
      formControlName="hobbies"
    >


    <input
      nbInput
      placeholder="skills"
      formControlName="skills"
    >


    <input
      nbInput
      placeholder="Inspiration Source"
      formControlName="inspirationSource"
    >

</form>
