<nb-card>
  <nb-card-body>

    <form name="assignRoleForm" id="assignRole" class="roleForm" [formGroup]="assignRoleForm">
      <div>
      <div style="padding: 20px 0;">
        <h3>Assign Role Form</h3>
      </div>
      <div class="form-row">
        <div class="col-form-label">
          Username
        </div>
        <div class="col-form-input">
          <ng-select [items]="emails"
                     formControlName="username"
                     [selectOnTab]="true"
                     placeholder="Username"
                     appendTo="body"
          >
          </ng-select>
          <div
            *ngIf="assignRoleForm.get('username').invalid && (assignRoleForm.get('username').dirty || assignRoleForm.get('username').touched)"
            class="validation-msg">
            <div *ngIf="assignRoleForm.get('username').hasError('required')">
              Please select a username
            </div>
            <div *ngIf="assignRoleForm.get('username').hasError('email')">
              Username must be a valid email id
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-form-label">
          User Role
        </div>
        <div class="col-form-input">
          <ng-select [items]="roles"
                     formControlName="userRole"
                     [selectOnTab]="true"
                     placeholder="User Role"
                     appendTo="body"
          >
          </ng-select>
          <div
            *ngIf="assignRoleForm.get('userRole').invalid && (assignRoleForm.get('userRole').dirty || assignRoleForm.get('userRole').touched)"
            class="validation-msg">
            <div *ngIf="assignRoleForm.get('userRole').hasError('required')">
              Please select a role
            </div>
          </div>
        </div>
      </div>

      <div class="form-row" *ngIf="assignRoleForm.get('userRole').value === 'EEO'">
        <div class="col-form-label">
          Colleges
        </div>
        <div class="col-form-input">
          <ng-select [items]="collegeList"
                     formControlName="colleges"
                     bindLabel="collegeName"
                     bindValue="id"
                     [selectOnTab]="true"
                     appendTo="body"
                     [multiple]="true"
          >
          </ng-select>
          <div
            *ngIf="assignRoleForm.get('colleges').invalid && (assignRoleForm.get('colleges').dirty || assignRoleForm.get('colleges').touched)"
            class="validation-msg">
            <div *ngIf="assignRoleForm.get('colleges').hasError('required')">
              Please enter the College
            </div>
          </div>
        </div>
      </div>
      </div>

      <div>
        <button nbButton (click)="submitForm()">Assign</button>
      </div>

    </form>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header> User Role List </nb-card-header>
  <nb-card-body>
    <ag-grid-angular
      class="ag-theme-balham"
      style=" width: 100%;"
      [pagination]="true"
      [rowData]="userRoleCollegeMappingList"
      [columnDefs]="columnDefs"
      [animateRows]="true"
      [enableCellChangeFlash]="true"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </nb-card-body>
</nb-card>



