<form [style.fontSize.px]="16" [formGroup]="thirdFormGroup">

  <div class="form-row">
    <div class="col-form-label">
      College
    </div>
    <div class="col-form-input">
      <ng-select
        [items]="collegeList"
        formControlName="collegeId"
        bindLabel="collegeName"
        bindValue="id"
        [selectOnTab]="true"
        appendTo="body"
        placeholder="Select College or Add College"
        [addTag]="addCustomCollege"
        (change)="setOtherCollege($event)"
      >
      </ng-select>
      <div
        *ngIf="thirdFormGroup.get('collegeId').invalid && (thirdFormGroup.get('collegeId').dirty || thirdFormGroup.get('collegeId').touched)"
        class="validation-msg">
        <div *ngIf="thirdFormGroup.get('collegeId').hasError('required')">
          College is required
        </div>
      </div>
    </div>
  </div>
<!--  <ng-container *ngIf="newCollegeEntry">-->
<!--    <div class="form-row">-->
<!--      <div class="col-form-label">-->
<!--        College Name and City-->
<!--      </div>-->
<!--      <div class="col-form-input">-->
<!--        <input-->
<!--          nbInput-->
<!--          placeholder="College Name and City"-->
<!--          formControlName="unregisteredCollege"-->
<!--          required-->
<!--        >-->
<!--        <div-->
<!--          *ngIf="thirdFormGroup.get('collegeId').invalid && (thirdFormGroup.get('collegeId').dirty || thirdFormGroup.get('collegeId').touched)"-->
<!--          class="validation-msg">-->
<!--          <div *ngIf="thirdFormGroup.get('unregisteredCollege').hasError('required')">-->
<!--            Please enter your College Name-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-container>-->


  <div class="form-row">
    <div class="col-form-label">
      Course
    </div>
    <div class="col-form-input">
      <ng-select
        [items]="['B.Tech', 'B.Arch', 'B.COM']"
        formControlName="courseName"
        [selectOnTab]="true"
        appendTo="body"
        placeholder="Course Name"
      >
      </ng-select>
      <div
        *ngIf="thirdFormGroup.get('courseName').invalid && (thirdFormGroup.get('courseName').dirty || thirdFormGroup.get('courseName').touched)"
        class="validation-msg">
        <div *ngIf="thirdFormGroup.get('courseName').hasError('required')">
          Please enter your Course Name
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-form-label">
      Batch
    </div>
    <div class="col-form-input">
      <ng-select
        [items]="['2019-2020','2018-2019','2017-2018','2016-2017']"
        formControlName="batch"
        [selectOnTab]="true"
        appendTo="body"
        placeholder="Batch"
      >
      </ng-select>
      <div
        *ngIf="thirdFormGroup.get('batch').invalid && (thirdFormGroup.get('batch').dirty || thirdFormGroup.get('batch').touched)"
        class="validation-msg">
        <div *ngIf="thirdFormGroup.get('batch').hasError('required')">
          Please enter your batch
        </div>
      </div>
    </div>
  </div>
  <button nbButton nbStepperPrevious>prev</button>
  <button (click)="validateForm()" nbButton nbStepperNext>next</button>

</form>
