<form [style.fontSize.px]="16" [formGroup]="thirdFormGroup">

    <nb-select required placeholder="College Name" formControlName="collegeId">
      <nb-option *ngFor="let college of collegeList" [value]="college.id">{{college.collegeName}}</nb-option>
    </nb-select>
    <div *ngIf="thirdFormGroup.get('collegeId').hasError('required')">
      Please enter your College Name
    </div>


    <nb-select placeholder="Course Name" formControlName="courseName" required>
      <nb-option [value]="'B.Tech'">B.Tech</nb-option>
      <nb-option [value]="'B.Arch'">B.Arch</nb-option>
      <nb-option [value]="'B.COM'">B.COM</nb-option>
    </nb-select>
    <div *ngIf="thirdFormGroup.get('courseName').hasError('required')">
      Please enter your Course Name
    </div>


    <nb-select required placeholder="Batch" formControlName="batch">
      <nb-option [value]="2020">2020</nb-option>
      <nb-option [value]="2019">2019</nb-option>
      <nb-option [value]="2018">2018</nb-option>
      <nb-option [value]="2017">2017</nb-option>
    </nb-select>
    <div *ngIf="thirdFormGroup.get('batch').hasError('required')">
      Please enter your batch
    </div>

</form>
