nb-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nb-card-body {
  width: 100%;
}

.form-row {
  align-items: flex-start;
  margin: 8px 0;
  overflow: hidden;
}

.form-row > .col-form-label {
  flex-basis: 25%;
  font-weight: bold;
}

.form-row > .col-form-input {
  flex-basis: 75%;
}

.col-form-select {
  flex-basis: 25%;
  overflow: hidden;
}

.validation-msg {
  color: red;
}

nb-select {
  width: 100%;
}

.text-right {
  text-align: right;
}


.reference-row > div {
  flex-basis: 32%;
}

.reference-row > div > input {
  width: 100%;
}

.reference-row {
  display: flex;
  justify-content: space-between;
  margin: 4px;
}

.referrer-btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
