<div class="row">
  <div class="col-md-12">
    <div class="ibox">
      <div class="ibox-title">
        <h3>View College</h3>
      </div>
      <div class="ibox-content">
        <table id="viewCollegeTable" class="table table-responsive table-striped">
          <thead>
          <tr>
            <th>College Name/th>
            <th>Address</th>
            <th>City</th>
            <th>Faculty</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let college of collegeList">
            <td>{{college.collegeName}}</td>
            <td>{{college.address}}</td>
            <td>{{college.city}}</td>
            <td>{{college.faculty}}</td>
            <td>
              <a title="Delete activity">
                <nb-icon icon="trash-2-outline"></nb-icon>
              </a>
              <a title="Approve Activity">
                <nb-icon icon="checkmark-circle-outline"></nb-icon>
              </a>
              <a title="Decline Activity">
                <nb-icon icon="close-outline"></nb-icon>
              </a>
              <a routerLink="/page/admin/college/edit/{{college.id}}" style="color: #212529" title="Edit Activity">
                <nb-icon icon="edit-2-outline"></nb-icon>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
