@import 'themes';
@import "~bootstrap/scss/bootstrap";
@import '~@nebular/theme/styles/globals';
@import "~@ng-select/ng-select/themes/default.theme.css";
@include nb-install() {
  @include nb-theme-global();
}

;
/* You can add global styles to this file, and also import other style files */

$base-color: #00bf98;
$border-dark: rgba($base-color, 0.5);
.swal2-container {
  z-index: 10000;
}
nb-card {
  display: flex;
  flex-direction: column;
}

nb-card-body {
  width: 100%;
}

.form-row {
  align-items: flex-start;
  margin: 8px 0;
  overflow: hidden;
}

.form-row > .col-form-label {
  flex-basis: 25%;
  font-weight: bold;
}

.form-row > .col-form-input {
  flex-basis: 75%;
}

.col-form-select {
  flex-basis: 25%;
  overflow: hidden;
}

.validation-msg {
  color: red;
}

nb-select {
  width: 100%;
}

.text-right {
  text-align: right;
}


.reference-row > div {
  flex-basis: 32%;
}

.reference-row > div > input {
  width: 100%;
}

.reference-row {
  display: flex;
  justify-content: space-between;
}

.referrer-btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.nb-theme-default button[nbButton] {
  background-image: linear-gradient(to right, #00bfbd, #00bf98);
  color: #ffffff;
  background-color: transparent;
  border: 0 transparent;
}

@media screen and (max-width: 768px) {
  .form-row {
    display: block !important;

    div {
      text-align: left !important;
    }
  }
}
